form{

    width: 25%;

}

form input{

    width: 50%;

    height: 30px;

    font-size: larger;

    margin: 10px 0px 10px 30px;

    border: 3px solid white;
    background-color: rgb(23, 59, 126);
    border-radius: 7px;
}

form button{

    color: white;

    height: 30px;

    margin: 10px 35px;

    background-color: rgb(23, 59, 126);

    border: 3px solid white;

    border-radius: 7px;

    font-weight: 700;

    font-size: large;

}
body{

    background-color: rgb(42, 103, 216);

    color: white;

}

h1{

    font-size: 100px;

    margin-top: 20%;

    margin-bottom: 0;

}

h2{

    margin-bottom: 75px;

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  
  }
  
  .search-form {
    display: flex;
   
  }
  
  .search-form input[type="text"] {
    margin-right: 10px;
  }
  
  .weather-info {

   
   
    
    margin: 20px;

    width: 20%;

   text-align: center;
    
  }
  .box{
    padding: 10px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 8px;
  }

  
  .weather-info p {
    font-size: x-large;
    margin: 10px;
  }
  
  .weather-info p:first-child {
    font-weight: bold;
  }
  
  .weather-info p:nth-child(2) {
    color: white;
  }
  
  .weather-info p:nth-child(3) {
    color: white;
  }
  
  .weather-info p:nth-child(4) {
   color: white;
  }
 .icon
 {
    font-size: 10em;
    margin-bottom: -5rem;
    display: inline-block;
 
 }
 .icon-name
 {
    font-size: 100px;
    font-size: 1rem;
    font-weight:750;
    font-size: 25px;
 }
 .temp
 {
    border: 0cm;
    background-color: rgb(42, 103, 216);
    padding: 0%;
    color: white;
    font-weight:100;
    font-size: 25px;
 }

 